cinta:      IDF = log(3/1) = 0.584962501
romantis:   IDF = log(3/1) = 0.584962501
mas:        IDF = log(3/1) = 0.584962501
kawin:      IDF = log(3/2) = 0.584962501
lari:       IDF = log(3/2) = 0.584962501
kawula:     IDF = log(3/1) = 0.584962501
muda:       IDF = log(3/1) = 0.584962501
lomba:      IDF = log(3/1) = 0.584962501
hadiah:     IDF = log(3/1) = 0.584962501
cincin:     IDF = log(3/1) = 0.584962501
emas:       IDF = log(3/1) = 0.584962501